body { margin: 0; padding: 0; }
header {
    margin: 0;
    padding: 0.33em;
    background-color: #666;
    background-image: url('storm-header.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-shadow: 0 0 10px #333;
    height: 415px;
    font-family: 'Open Sans', sans-serif;
}

#map { position: absolute; top: 415px; bottom: 0; width: 100%; }

@media screen and (min-width: 600px) {
    header {
        height: 315px;
    }

    #map { top: 315px; }
}

.small-header { height: 105px; }
.small-header-map { top: 110px !important; bottom: 0px !important; }

header .content {
    position: absolute;
    top: 0.25em;
    left: 1em;
    right: 5px;
    background-color: rgba(102,102,102,0.5);
}

header .content p {
    padding: 0.25em 0.25em 0.25em 0.05em;
}

header a { color: white; }